<th:block th:fragment="about">
<div class="block__responsive block--direction-column-reverse">
    <div class="about block__two-column block--grow-2 block--direction-column">
        <h1 class="h1 h--color-blue">About Me</h1>
        <p class="p">
            My name is Tanner Bernth. I'm a Software Developer.
        </p>
        <p class="p">
            I started making website templates when I was 13 years old, which led to my passion for programming. It all began on one of those ancient boxes, we called computers, from the 90's with the classic Notepad as my editor.
        </p>
        <p class="p"> 
            When it came to college, I already knew what I wanted to do before the question was asked. I decided to pursue Computer Science at the University of Arizona to acquire the title of "Computer Nerd" from my grandma- I mean, acquire a degree. 
        </p>
        <p class="p">
            I got both.
        </p>
        <p class="p">
            I believe that programming is the future and that it's never too late (or early) to learn. Java is my strongest programming language, but I'm always looking to experiment and expand my arsenal. 
        </p>
        <p class="p">
            Currently, my goal is to continue learning and becoming a better Software Developer. I want to share my progress and help others that take an interest
            in software development or spark an interest in people that are new to programming. 
        </p>
        <p class="p">
            Check out the <a class="a" href="/blog">blog</a> to learn more about programming and my experiences developing.
        </p>
        <p class="p">
            Tanner Bernth
        </p>
    </div>
    <div class="block__two-column block--direction-column block--align-center">
        <div class="about__image-container">
            <img title="Tanner Bernth" alt="Tanner Bernth" src="/img/about.jpg" class="about__image">
        </div>
        <h3 class="h3 h--color-blue">Tanner Bernth</h3>
        <ul class="about__info">
            <li>University of Arizona '18</li>
            <li>BS in Computer Science</li>
        </ul>
        <ul class="about__info">
            <li class="font--bold">Languages/Technologies</li>
            <li>C</li>
            <li>CSS</li>
            <li>Git</li>
            <li>HTML</li>
            <li>Java</li>
            <li>Java Spring Boot</li>
            <li>JavaScript</li>
            <li>MySQL</li>
            <li>Oracle SQL</li>
            <li>PHP</li>
            <li>Sass</li>
        </ul>
    </div>
</div>
</th:block>