<footer th:fragment="footer">
	<div class="block__default block--justify-center">
		<div class="button__to-top" tabindex="0">
			Top
		</div>
	</div>
	<div class="block__default">
		<div class="block__two-column block--justify-center block--align-center block--padding-none">
			<ul class="block__list">
				<li><a class="a" href="/about#contact">Contact Me</a></li>
				<li><a class="a__disabled" href="#" onclick="return false;">Report a Bug</a></li>
			</ul>
		</div>

		<div class="block__two-column block--justify-center block--align-center block--padding-none">
			<ul class="block__list">
				<!--<li><a class="a__disabled" href="#" onclick="return false;">Privacy Policy</a></li>-->
				<li><a class="a__disabled" href="#" onclick="return false;">Developer Notes</a></li>
			</ul>
		</div>
	</div>

	<div class="block__default block--justify-center">
		Tanner Bernth &copy; 2019
	</div>
</footer>